<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.QzBzMapper">
  <resultMap id="BaseResultMap" type="com.model.QzBz">
    <id column="BSMID" jdbcType="VARCHAR" property="bsmid" />
    <result column="QZID" jdbcType="VARCHAR" property="qzid" />
    <result column="BSMLX" jdbcType="VARCHAR" property="bsmlx" />
    <result column="BSM" jdbcType="VARCHAR" property="bsm" />
    <result column="GQSJ" jdbcType="VARCHAR" property="gqsj" />
    <result column="ENABLE_STATUS" jdbcType="VARCHAR" property="enableStatus" />
    <result column="DELETE_STATUS" jdbcType="VARCHAR" property="deleteStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
  </resultMap>
  <sql id="Base_Column_List">
    BSMID, QZID, BSMLX, BSM, GQSJ, ENABLE_STATUS, DELETE_STATUS, CREATE_TIME, CREATE_ID, 
    UPDATE_TIME, UPDATE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_QZ_BZ
    where BSMID = #{bsmid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_QZ_BZ
    where BSMID = #{bsmid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.model.QzBz">
    insert into TB_QZ_BZ (BSMID, QZID, BSMLX, 
      BSM, GQSJ, ENABLE_STATUS, 
      DELETE_STATUS, CREATE_TIME, CREATE_ID, 
      UPDATE_TIME, UPDATE_ID)
    values (#{bsmid,jdbcType=VARCHAR}, #{qzid,jdbcType=VARCHAR}, #{bsmlx,jdbcType=VARCHAR}, 
      #{bsm,jdbcType=VARCHAR}, #{gqsj,jdbcType=VARCHAR}, #{enableStatus,jdbcType=VARCHAR}, 
      #{deleteStatus,jdbcType=VARCHAR}, #{createTime,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=VARCHAR}, #{updateId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.QzBz">
    insert into TB_QZ_BZ
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bsmid != null">
        BSMID,
      </if>
      <if test="qzid != null">
        QZID,
      </if>
      <if test="bsmlx != null">
        BSMLX,
      </if>
      <if test="bsm != null">
        BSM,
      </if>
      <if test="gqsj != null">
        GQSJ,
      </if>
      <if test="enableStatus != null">
        ENABLE_STATUS,
      </if>
      <if test="deleteStatus != null">
        DELETE_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateId != null">
        UPDATE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bsmid != null">
        #{bsmid,jdbcType=VARCHAR},
      </if>
      <if test="qzid != null">
        #{qzid,jdbcType=VARCHAR},
      </if>
      <if test="bsmlx != null">
        #{bsmlx,jdbcType=VARCHAR},
      </if>
      <if test="bsm != null">
        #{bsm,jdbcType=VARCHAR},
      </if>
      <if test="gqsj != null">
        #{gqsj,jdbcType=VARCHAR},
      </if>
      <if test="enableStatus != null">
        #{enableStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.QzBz">
    update TB_QZ_BZ
    <set>
      <if test="qzid != null">
        QZID = #{qzid,jdbcType=VARCHAR},
      </if>
      <if test="bsmlx != null">
        BSMLX = #{bsmlx,jdbcType=VARCHAR},
      </if>
      <if test="bsm != null">
        BSM = #{bsm,jdbcType=VARCHAR},
      </if>
      <if test="gqsj != null">
        GQSJ = #{gqsj,jdbcType=VARCHAR},
      </if>
      <if test="enableStatus != null">
        ENABLE_STATUS = #{enableStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        DELETE_STATUS = #{deleteStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
    </set>
    where BSMID = #{bsmid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.QzBz">
    update TB_QZ_BZ
    set QZID = #{qzid,jdbcType=VARCHAR},
      BSMLX = #{bsmlx,jdbcType=VARCHAR},
      BSM = #{bsm,jdbcType=VARCHAR},
      GQSJ = #{gqsj,jdbcType=VARCHAR},
      ENABLE_STATUS = #{enableStatus,jdbcType=VARCHAR},
      DELETE_STATUS = #{deleteStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR}
    where BSMID = #{bsmid,jdbcType=VARCHAR}
  </update>
</mapper>