<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.YdYhdlMapper">
  <resultMap id="BaseResultMap" type="com.model.YdYhdl">
    <id column="YHID" jdbcType="VARCHAR" property="yhid" />
    <result column="TOKEN" jdbcType="VARCHAR" property="token" />
    <result column="GQSJ" jdbcType="BIGINT" property="gqsj" />
    <result column="DLSJ" jdbcType="VARCHAR" property="dlsj" />
    <result column="IMEI" jdbcType="VARCHAR" property="imei" />
    <result column="KHDBB" jdbcType="INTEGER" property="khdbb" />
    <result column="SBXX" jdbcType="VARCHAR" property="sbxx" />
    <result column="ENABLE_STATUS" jdbcType="VARCHAR" property="enableStatus" />
    <result column="DELETE_STATUS" jdbcType="VARCHAR" property="deleteStatus" />
    <result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
    <result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
  </resultMap>
  <sql id="Base_Column_List">
    YHID, TOKEN, GQSJ, DLSJ, IMEI, KHDBB, SBXX, ENABLE_STATUS, DELETE_STATUS, CREATE_TIME, 
    CREATE_ID, UPDATE_TIME, UPDATE_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_YD_YHDL
    where YHID = #{yhid,jdbcType=VARCHAR}
  </select>
    <select id="selectYdYhdl" parameterType="map" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from TB_YD_YHDL
    <where>
       <if test="yhid != null">
       AND YHID = #{yhid,jdbcType=VARCHAR}
      </if>
      <if test="token != null">
        AND TOKEN = #{token,jdbcType=VARCHAR}
      </if>
      <if test="gqsj != null">
        AND GQSJ = #{gqsj,jdbcType=BIGINT}
      </if>
      <if test="dlsj != null">
        AND DLSJ = #{dlsj,jdbcType=VARCHAR}
      </if>
      <if test="imei != null">
        AND IMEI = #{imei,jdbcType=VARCHAR}
      </if>
      <if test="khdbb != null">
        AND KHDBB = #{khdbb,jdbcType=INTEGER}
      </if>
      <if test="sbxx != null">
        AND SBXX = #{sbxx,jdbcType=VARCHAR}
      </if>
      <if test="enableStatus != null">
        AND ENABLE_STATUS = #{enableStatus,jdbcType=VARCHAR}
      </if>
      <if test="deleteStatus != null">
        AND DELETE_STATUS = #{deleteStatus,jdbcType=VARCHAR}
      </if>
      <if test="createTime != null">
        AND CREATE_TIME = #{createTime,jdbcType=VARCHAR}
      </if>
      <if test="createId != null">
        AND CREATE_ID = #{createId,jdbcType=VARCHAR}
      </if>
      <if test="updateTime != null">
        AND UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
      </if>
      <if test="updateId != null">
        AND UPDATE_ID = #{updateId,jdbcType=VARCHAR}
      </if>
    
    </where>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from TB_YD_YHDL
    where YHID = #{yhid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.model.YdYhdl">
    insert into TB_YD_YHDL (YHID, TOKEN, GQSJ, 
      DLSJ, IMEI, KHDBB, 
      SBXX, ENABLE_STATUS, DELETE_STATUS, 
      CREATE_TIME, CREATE_ID, UPDATE_TIME, 
      UPDATE_ID)
    values (#{yhid,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{gqsj,jdbcType=BIGINT}, 
      #{dlsj,jdbcType=VARCHAR}, #{imei,jdbcType=VARCHAR}, #{khdbb,jdbcType=INTEGER}, 
      #{sbxx,jdbcType=VARCHAR}, #{enableStatus,jdbcType=VARCHAR}, #{deleteStatus,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR}, 
      #{updateId,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.YdYhdl">
    insert into TB_YD_YHDL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="yhid != null">
        YHID,
      </if>
      <if test="token != null">
        TOKEN,
      </if>
      <if test="gqsj != null">
        GQSJ,
      </if>
      <if test="dlsj != null">
        DLSJ,
      </if>
      <if test="imei != null">
        IMEI,
      </if>
      <if test="khdbb != null">
        KHDBB,
      </if>
      <if test="sbxx != null">
        SBXX,
      </if>
      <if test="enableStatus != null">
        ENABLE_STATUS,
      </if>
      <if test="deleteStatus != null">
        DELETE_STATUS,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="updateTime != null">
        UPDATE_TIME,
      </if>
      <if test="updateId != null">
        UPDATE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="yhid != null">
        #{yhid,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="gqsj != null">
        #{gqsj,jdbcType=BIGINT},
      </if>
      <if test="dlsj != null">
        #{dlsj,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        #{imei,jdbcType=VARCHAR},
      </if>
      <if test="khdbb != null">
        #{khdbb,jdbcType=INTEGER},
      </if>
      <if test="sbxx != null">
        #{sbxx,jdbcType=VARCHAR},
      </if>
      <if test="enableStatus != null">
        #{enableStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.YdYhdl">
    update TB_YD_YHDL
    <set>
      <if test="token != null">
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="gqsj != null">
        GQSJ = #{gqsj,jdbcType=BIGINT},
      </if>
      <if test="dlsj != null">
        DLSJ = #{dlsj,jdbcType=VARCHAR},
      </if>
      <if test="imei != null">
        IMEI = #{imei,jdbcType=VARCHAR},
      </if>
      <if test="khdbb != null">
        KHDBB = #{khdbb,jdbcType=INTEGER},
      </if>
      <if test="sbxx != null">
        SBXX = #{sbxx,jdbcType=VARCHAR},
      </if>
      <if test="enableStatus != null">
        ENABLE_STATUS = #{enableStatus,jdbcType=VARCHAR},
      </if>
      <if test="deleteStatus != null">
        DELETE_STATUS = #{deleteStatus,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      </if>
      <if test="updateId != null">
        UPDATE_ID = #{updateId,jdbcType=VARCHAR},
      </if>
    </set>
    where YHID = #{yhid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.YdYhdl">
    update TB_YD_YHDL
    set TOKEN = #{token,jdbcType=VARCHAR},
      GQSJ = #{gqsj,jdbcType=BIGINT},
      DLSJ = #{dlsj,jdbcType=VARCHAR},
      IMEI = #{imei,jdbcType=VARCHAR},
      KHDBB = #{khdbb,jdbcType=INTEGER},
      SBXX = #{sbxx,jdbcType=VARCHAR},
      ENABLE_STATUS = #{enableStatus,jdbcType=VARCHAR},
      DELETE_STATUS = #{deleteStatus,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=VARCHAR},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
      UPDATE_ID = #{updateId,jdbcType=VARCHAR}
    where YHID = #{yhid,jdbcType=VARCHAR}
  </update>
</mapper>