<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.YhQzMapper">
	<resultMap id="BaseResultMap" type="com.model.YhQz">
		<id column="QZ_YH_ID" jdbcType="VARCHAR" property="qzYhId" />
		<result column="QZID" jdbcType="VARCHAR" property="qzid" />
		<result column="YHID" jdbcType="VARCHAR" property="yhid" />
		<result column="GLYBZ" jdbcType="VARCHAR" property="glybz" />
		<result column="CYJS" jdbcType="VARCHAR" property="cyjs" />
		<result column="SHZT" jdbcType="VARCHAR" property="shzt" />
		<result column="SHJG" jdbcType="VARCHAR" property="shjg" />
		<result column="ENABLE_STATUS" jdbcType="VARCHAR" property="enableStatus" />
		<result column="DELETE_STATUS" jdbcType="VARCHAR" property="deleteStatus" />
		<result column="CREATE_TIME" jdbcType="VARCHAR" property="createTime" />
		<result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
		<result column="UPDATE_TIME" jdbcType="VARCHAR" property="updateTime" />
		<result column="UPDATE_ID" jdbcType="VARCHAR" property="updateId" />
	</resultMap>
	<sql id="Base_Column_List">
		QZ_YH_ID, QZID, YHID, GLYBZ, CYJS, SHZT, SHJG, ENABLE_STATUS, DELETE_STATUS,
		CREATE_TIME,
		CREATE_ID, UPDATE_TIME, UPDATE_ID
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TB_YH_QZ
		where QZ_YH_ID = #{qzYhId,jdbcType=VARCHAR}
	</select>

	<select id="selectYhQz" parameterType="map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TB_YH_QZ
		<where>
			<if test="qzYhId != null">
				AND QZ_YH_ID = #{qzYhId,jdbcType=VARCHAR}
			</if>
			<if test="qzid != null">
				AND QZID = #{qzid,jdbcType=VARCHAR}
			</if>
			<if test="yhid != null">
				AND YHID = #{yhid,jdbcType=VARCHAR}
			</if>
			<if test="glybz != null">
				AND GLYBZ = #{glybz,jdbcType=VARCHAR}
			</if>
			<if test="cyjs != null">
				AND CYJS = #{cyjs,jdbcType=VARCHAR}
			</if>
			<if test="shzt != null">
				AND SHZT = #{shzt,jdbcType=VARCHAR}
			</if>
			<if test="shjg != null">
				AND SHJG = #{shjg,jdbcType=VARCHAR}
			</if>
			<if test="enableStatus != null">
				AND ENABLE_STATUS = #{enableStatus,jdbcType=VARCHAR}
			</if>
			<if test="deleteStatus != null">
				AND DELETE_STATUS = #{deleteStatus,jdbcType=VARCHAR}
			</if>
			<if test="createTime != null">
				AND CREATE_TIME = #{createTime,jdbcType=VARCHAR}
			</if>
			<if test="createId != null">
				AND CREATE_ID = #{createId,jdbcType=VARCHAR}
			</if>
			<if test="updateTime != null">
				AND UPDATE_TIME = #{updateTime,jdbcType=VARCHAR}
			</if>
			<if test="updateId != null">
				AND UPDATE_ID = #{updateId,jdbcType=VARCHAR}
			</if>

		</where>
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from TB_YH_QZ
		where QZ_YH_ID = #{qzYhId,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.model.YhQz">
		insert into TB_YH_QZ (QZ_YH_ID, QZID, YHID,
		GLYBZ, CYJS, SHZT,
		SHJG, ENABLE_STATUS, DELETE_STATUS,
		CREATE_TIME, CREATE_ID, UPDATE_TIME,
		UPDATE_ID)
		values (#{qzYhId,jdbcType=VARCHAR}, #{qzid,jdbcType=VARCHAR},
		#{yhid,jdbcType=VARCHAR},
		#{glybz,jdbcType=VARCHAR}, #{cyjs,jdbcType=VARCHAR}, #{shzt,jdbcType=VARCHAR},
		#{shjg,jdbcType=VARCHAR}, #{enableStatus,jdbcType=VARCHAR},
		#{deleteStatus,jdbcType=VARCHAR},
		#{createTime,jdbcType=VARCHAR}, #{createId,jdbcType=VARCHAR}, #{updateTime,jdbcType=VARCHAR},
		#{updateId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.model.YhQz">
		insert into TB_YH_QZ
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="qzYhId != null">
				QZ_YH_ID,
			</if>
			<if test="qzid != null">
				QZID,
			</if>
			<if test="yhid != null">
				YHID,
			</if>
			<if test="glybz != null">
				GLYBZ,
			</if>
			<if test="cyjs != null">
				CYJS,
			</if>
			<if test="shzt != null">
				SHZT,
			</if>
			<if test="shjg != null">
				SHJG,
			</if>
			<if test="enableStatus != null">
				ENABLE_STATUS,
			</if>
			<if test="deleteStatus != null">
				DELETE_STATUS,
			</if>
			<if test="createTime != null">
				CREATE_TIME,
			</if>
			<if test="createId != null">
				CREATE_ID,
			</if>
			<if test="updateTime != null">
				UPDATE_TIME,
			</if>
			<if test="updateId != null">
				UPDATE_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="qzYhId != null">
				#{qzYhId,jdbcType=VARCHAR},
			</if>
			<if test="qzid != null">
				#{qzid,jdbcType=VARCHAR},
			</if>
			<if test="yhid != null">
				#{yhid,jdbcType=VARCHAR},
			</if>
			<if test="glybz != null">
				#{glybz,jdbcType=VARCHAR},
			</if>
			<if test="cyjs != null">
				#{cyjs,jdbcType=VARCHAR},
			</if>
			<if test="shzt != null">
				#{shzt,jdbcType=VARCHAR},
			</if>
			<if test="shjg != null">
				#{shjg,jdbcType=VARCHAR},
			</if>
			<if test="enableStatus != null">
				#{enableStatus,jdbcType=VARCHAR},
			</if>
			<if test="deleteStatus != null">
				#{deleteStatus,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="updateId != null">
				#{updateId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.model.YhQz">
		update TB_YH_QZ
		<set>
			<if test="qzid != null">
				QZID = #{qzid,jdbcType=VARCHAR},
			</if>
			<if test="yhid != null">
				YHID = #{yhid,jdbcType=VARCHAR},
			</if>
			<if test="glybz != null">
				GLYBZ = #{glybz,jdbcType=VARCHAR},
			</if>
			<if test="cyjs != null">
				CYJS = #{cyjs,jdbcType=VARCHAR},
			</if>
			<if test="shzt != null">
				SHZT = #{shzt,jdbcType=VARCHAR},
			</if>
			<if test="shjg != null">
				SHJG = #{shjg,jdbcType=VARCHAR},
			</if>
			<if test="enableStatus != null">
				ENABLE_STATUS = #{enableStatus,jdbcType=VARCHAR},
			</if>
			<if test="deleteStatus != null">
				DELETE_STATUS = #{deleteStatus,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				CREATE_TIME = #{createTime,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				CREATE_ID = #{createId,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
			</if>
			<if test="updateId != null">
				UPDATE_ID = #{updateId,jdbcType=VARCHAR},
			</if>
		</set>
		where QZ_YH_ID = #{qzYhId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.model.YhQz">
		update TB_YH_QZ
		set QZID = #{qzid,jdbcType=VARCHAR},
		YHID = #{yhid,jdbcType=VARCHAR},
		GLYBZ = #{glybz,jdbcType=VARCHAR},
		CYJS = #{cyjs,jdbcType=VARCHAR},
		SHZT = #{shzt,jdbcType=VARCHAR},
		SHJG = #{shjg,jdbcType=VARCHAR},
		ENABLE_STATUS = #{enableStatus,jdbcType=VARCHAR},
		DELETE_STATUS = #{deleteStatus,jdbcType=VARCHAR},
		CREATE_TIME = #{createTime,jdbcType=VARCHAR},
		CREATE_ID = #{createId,jdbcType=VARCHAR},
		UPDATE_TIME = #{updateTime,jdbcType=VARCHAR},
		UPDATE_ID = #{updateId,jdbcType=VARCHAR}
		where QZ_YH_ID = #{qzYhId,jdbcType=VARCHAR}
	</update>
</mapper>